*{
    margin: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  } 

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 25px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


  html {
    height: 100%;
  }

  html,
  body {
    min-height: 100%;
  }

  body {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
  p {
    font-size: 1.1rem;
    margin: 0 0 1rem;
    line-height: 1.5;
  }
  
  ul,
  ol,
  dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  a {
    
    text-decoration: none;
  }
  
  a:hover {
    
    text-decoration: underline;
  }
  
  label {
    display: inline-block;
  }
  
  input,
  select,
  textarea,
  button {
    margin: 0;
  }

  main {
    flex-grow: 1;
    display: block;
  }

  header, main, footer {
    flex-shrink: 0;
  }
  
  .loginBtn {
    background-color: teal;
    border-radius: 5px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .loginBtn:hover {
    opacity: 0.6;
  }
  
  .login {
      display: flex;
      padding-top: 50px;
      height: auto;
      width: auto;
  }
  
  .loginh1 {
      display: flex;
      justify-content: center;
      padding-top: 8%;
  }
  .createH1 {
    display: flex;
    justify-content: center;
    padding-top: 8%;
    margin-bottom: 40px;
}
  .loginContainer {
      display: block;
      justify-content: center;
      align-items: center;
      border: 2px solid grey;
      border-radius: 5px;
      margin: 0px 20%;
      padding: 16px;
  }
  
  .loginImg {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  .login-page {
    bottom: 0;
    height: auto;
    width: auto;
    margin-bottom: 50px;
  }
  
  .psw {
    display: flex;
    padding-top: 20px;
    margin: 0px 20%;
  }

  .createBtn {
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .createBtn{
    font-size: 1.5vw;
  }


  .createBtn:hover {
    opacity: 0.6;
  }

  @media only screen and (max-width: 1200px) {
    .createBtn{
      margin-top: 300px;
      font-size: 2.5vw;
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-variant: small-caps;
    background-color: teal;
    color: white;
  }
  
  .nav-links a {
    color: white;
  }
  
  .dadLogo {
    font-size: 3vw;
    font-family: cursive;
  }
  
  .nav-menu {
    display: flex;
    /* padding-right: 30px; */
    font-size: 1.5vw;
    font-family: fantasy papyrus;
    margin-top: 3.5%;

  }
  
  .nav-menu li {
    padding: 5px 15px;
    list-style: none;
  }
  
  .nav-menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .nav-menu li a {
    text-decoration: none;
  }

  @media only screen and (max-width: 700px) {
    .dadLogo{
      font-size: 2.8vw;
      margin: -10px;
      margin-left: 10px;
    }
    .navbar{
    padding: 2.5%;
    }
    .nav-menu{
      font-size: 2vw;
      margin: -10px;
      margin-top: 2%;
    }
    .loginh1{
      font-size: 4vw;
    }
  }
  footer{
    position: bottom;
    font-variant: small-caps;
    bottom: 0;
    left: 0;
    right: 0;
    background: teal;
    height: auto;
    width: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content h3{
    padding: 1%;
    margin: 5px;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 30px;
    font-family: cursive;
  }
  .footer-content p{
    max-width: 300px;
    margin-bottom: 5% auto;
    font-size: 1vw;
    color: #cacdd2;
  }
  

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    padding: 20px;
    column-gap: 10px;
    justify-content: center;
    /* list-style-type: none; */
}



.card {
    position: relative;
    background-color: white;
    display: flex;
    padding: 50px;
    height: 275px;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}
@media only screen and (max-width: 1250px) {
  .cards {
  display: block;
  }
  .card{
    height: 150px;
  }
}

form {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

.card-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 5px;
    background-color: teal;
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card-overlay {
    transform: translateY(0);
}

.card-description {
    padding: 15px;
    margin: 0;
    float: right;
    color: white;
    font-size: 18px;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 15px;
}
.card-container {
  display: flex;
  font: 12px cursive;
  padding-left: 5px;
  padding-right: 5px;
}

.profile-name {
  display: flex;
  padding: 2.5vw;
}

.like-button {
  margin-right: 7px;
  padding: 10px 10px;
  margin-left: 7px;
}

.like-button:hover {
  cursor: pointer;
}

.dislike-button {
  margin-right: 7px;
  padding: 10px 10px;
  margin-left: 7px;
}

.dislike-button:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .dislike-button{
    margin-left: 60%;
  }
  .card-description{
    font-size: 1.5vw;
    margin-left: -10px;
    margin-bottom: 5px;
  }
}