
    <div id='login'>
      <h1>Create Account</h1>

      <form class='sign_up'>
        <div class='img'>
          <img src='' class='' alt='' />
        </div>

        <div class='loginContainer'>
          <label for='name'><b>First Name:</b></label>
          <input
          id='name-signup'
            type='text'
            placeholder='First Name'
            name='firstname'
            required
          />

          <label for='username'><b>Email:</b></label>
          <input
          id='email-signup'
            type='text'
            placeholder='Enter Username'
            name='username'
            required
          />

          <label for='pwrd'><b>Password:</b></label>
          <input
          id='password-signup'
            type='password'
            placeholder='Enter Password'
            name='pwrd'
            required
          />

          <button class='loginBtn' type='submit'>Create Account</button>
        </div>
      </form>
    </div>
<script src='/js/login.js'></script>