<div class="cards">
  {{#each jokes as |joke|}}
  <div class="card">
    <div class="card-container">
      <p>{{jokes}}</p>
    </div>
    <div class="card-overlay">
      <button class='like'>🤣</button>
      <p class="card-description">-{{user.name}} posted this joke at {{date_created}}</p>
    </div>
  </div>
  {{/each}}
</div>