<div class="profile-name">
  <h1>Hello, {{name}}</h1>
</div>
<div class="cards">
{{#each jokes as |joke|}}
  <div class="card">
    <div class="card-container">
      <p>{{jokes}}</p>
    </div>
  </div>
{{/each}}
</div>


<div id='login'>
  <h1 class='loginh1'>Submit a joke:</h1>

  <form class='login-page'>
    <div class='loginImg'>
      <img src='' class='' alt='' />
    </div>

    <div class='loginContainer'>
      <label for='username'><b>Email:</b></label>
      <input
        id='userEmail'
        type='text'
        placeholder='Enter Email..'
        name='username'
        required
      />

      <label for='pwrd'><b>Joke:</b></label>
      <input
        id='userPassword'
        type='text'
        placeholder='Enter Joke..'
        name='pwrd'
        required
      />

      <button class='loginBtn' type='submit'>Submit Joke</button>
    </div>
  </form>
</div>

