<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Jokes</title>
  <link rel='stylesheet' type='text/css' href='./style.css' />
</head>

<body>

  <nav class="navbar">
    <div class="dadLogo">Dad Jokes Galore</div>
    <ul class="nav-links">
      <div class="nav-menu">
        <li class="Home"><a href="/">Home</a></li>
        <li class="submitJoke"><a href="/">Submit A Joke</a></li>
        <li class="profile"><a href="/">Profile</a></li>
        <li class="logIn"><a href="/">Log In</a></li>
      </div>
    </ul>
  </nav>
  <div id='login'>
    <h1 class="loginh1">Login</h1>

    <form>
      <div class='loginImg'>
        <img src='' class='' alt='' />
      </div>

      <div class='loginContainer'>
        <label for='username'><b>Username:</b></label>
        <input type='text' placeholder='Enter Username' name='username' required />

        <label for='pwrd'><b>Password:</b></label>
        <input type='password' placeholder='Enter Password' name='pwrd' required />

        <button class="loginBtn" type='submit'>Login</button>
      </div>
      <div>
        <span class='psw'><a href='#'>Forgot Password?</a></span>
      </div>
    </form>
  </div>
</body>
<footer>
  <div class="footer-content">
    <h3>Dad Jokes Galore</h3>
    <p>copyright &copy;2022 <a href="#">Dad Jokes Galore</a> </p>
  </div>
</footer>

</html>